<!DOCTYPE HTML>
<html>
	<head>
		<title>{{Project Name}} - Osa Musa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="project-github" content="https://github.com/OsaMusa/repo">
		<meta name="project-demo" content="https://example.com">
		<meta name="description" content="{{Project Description}}" />
		<meta property="og:title" content="{{Project Name}} - Osa Musa" />
		<meta property="og:description" content="{{Project Description}}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://osamusa.github.io/portfolio-site/projects/{{category-slug}}/{{project-slug}}/" />
		<meta property="og:image" content="https://osamusa.github.io/portfolio-site/assets/images/share-image.jpg" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{{Project Name}} - Osa Musa" />
		<meta name="twitter:description" content="{{Project Description}}" />
		<meta name="twitter:image" content="https://osamusa.github.io/portfolio-site/assets/images/share-image.jpg" />
		<link rel="stylesheet" href="../../../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../../../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<div id="header-placeholder"></div>

			<!-- Nav -->
			<div id="nav-placeholder"></div>

			<!-- Main -->
			<div id="main">

				<!-- Post -->
				<section class="post">
					<header class="major">
						<h1>{{Project Name}}</h1>
						<p style="text-align: center; font-size: x-large;"><b>Project for: </b>{{Company Name}}</p>
					</header>

					<h2>Problem</h2>
					<p>Describe the problem this project solved.</p>
					
					<h2>Solution</h2>
					<p>Explain how you solved the problem. Don't be afraid to share the tools used and how they were used.
					It's fine so long as you don't mention proprietary software/tools.</p>
					
					<h2>Challenges</h2>
					<p>Describe any technical obstacles, unexpected problems, or learning experiences you encountered during this project.</p>
					
					<h2>Result</h2>
					<p>Tell what the result of implementing your solution was.</p>
					
					<h2>Technologies Used</h2>
					<ul>
						<li>List of technology that was used in this case study.</li>
						<li>Can be platforms, tools, etc.</li>
					</ul>

					<!-- Project Buttons -->
					<div id="prj-btns-placeholder"></div>
				</section>
			</div>

			<!-- Footer -->
			<div id="footer-placeholder"></div>
		</div>

		<!-- Scripts -->
		<script src="../../../assets/js/jquery.min.js"></script>
		<script src="../../../assets/js/jquery.scrollex.min.js"></script>
		<script src="../../../assets/js/jquery.scrolly.min.js"></script>
		<script src="../../../assets/js/browser.min.js"></script>
		<script src="../../../assets/js/breakpoints.min.js"></script>
		<script src="../../../assets/js/util.js"></script>
		<script src="../../../assets/js/main.js"></script>
		<script src="../../../assets/js/components.js"></script>
	</body>
</html>